/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

.dark {
  /* Brand */
  --vp-c-brand-1: var(--mantine-color-blue-3);
  --vp-c-brand-2: var(--mantine-color-blue-4);
  --vp-c-brand-3: var(--mantine-color-blue-5);
  --vp-c-brand-soft: var(--mantine-color-blue-6);

  /* Background */
  --vp-c-bg: var(--mantine-color-dark-85);
  --vp-c-bg-soft: var(--mantine-color-dark-6);

  /* Button */
  --vp-button-brand-bg: var(--mantine-color-blue-8);
  --vp-button-brand-hover-bg: var(--mantine-color-blue-9);

  /* Sidebar */
  --vp-sidebar-bg-color: var(--mantine-color-dark-6);

  /* Docsearch */
  --docsearch-search-button-background: var(--mantine-color-dark-6) !important;
}
